{% extends 'base.html' %}
{% block start %}

<h3>Edit </h3>
<form action="" method="post">
    {% csrf_token %}
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value={{student.0.name}}>
         
      <br> <br>
      <label for="role_number" >Role Number</label>
      <input type="text" name="role_number" id="role_number" value="{{student.0.role_number}}">
      <br> <br>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="{{student.0.email}}">
      <br> <br>
      <label for="date">Date</label>
      <input type="date" name="date" id="date" value="{{student.0.date}}">
      <br> <br>
      <label for="time">Time</label>
       <input type="time" name="time" id="time" value="student.0.time">  
       <br><br>
       <input type="submit" value="Submit">
       </form>
  
{% endblock %}