{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'note_07.css' %}">
</head>
<body>
    

<h4>Display property</h4>

<div class="mainbox">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

</div>
<h3>Shadows and Outlines</h3>

 <div class="shadowbox">SHREEKRISHNA</div>
 <br><br>
 <div class="shadowtext">SHREEKRISHNA</div>

</body>
</html>