{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'note_o6.css' %}">
     
</head>
<body>
    
    <h3>CSS Box Model</h3>
 <div class="box box1">I am box1</div>
 <div class="box box2">I am box2</div>
<p>padding and margin</p>
 <div class="outer">
    <div class="upper">
        <p>Shreekrishna</p>
    </div>
    <div class="lower">
        <p>Shreekrishna</p>
    </div>
 </div>

<p>Steps using margin</p>

<div class="upstairs">
    <div class="step4"></div>
    <div class="step3"></div>
    <div class="step2"></div>
    <div class="step1"></div>
</div>
<hr>
<h1>Sizig units</h1>
<h3>vw,vh and rem</h3>
<div class="test_box" >
    <h4>This is testbox</h4>
</div>
<br><br><br>

<div class="container" >
     
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit vero ipsum qui fugiat voluptas voluptate, quidem rem hic ut aliquid dignissimos natus recusandae cupiditate vitae. Ipsa facere sint odit excepturi impedit. Asperiores, officia eius repellat vitae atque id dolore, nam, pariatur iure a nemo aliquid quisquam voluptatum expedita sequi obcaecati necessitatibus eaque! Laboriosam amet voluptates sed.</p>
     <p class="rem_p">Python is awesome</p>
</div>
<br><br>
    <div class="vmin_vmax">
        <p>Django is awesome</p>
    </div>
    <br><br>
</body>
</html>