<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>SHREEKRISHNA</h1>
<h4>LINK</h4>
<a href="https://google.com">google</a>
<h4>Image</h4>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9H0LtDP3e-yRtRIFQz7ODdTzAUr8z1X8xMSJfOo0Tug&s" alt="shreekrishna">

<h4>Forms</h4>


<form action="display">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="role_number" >Role Number</label>
    <input type="text" name="role_number" id="role_number">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <br>
    ,<label for="date">Date</label>
    <input type="date" name="date" id="date">
    <br>
    <label for="time">Time</label>
     <input type="time" name="time" id="time"> 
     <br>
     <label for="count">count</label>
     <input type="number" name="count" id="count">
     <br>
     <label for="meritial_status">Meritial_status</label>
     <input type="checkbox" name="meritial_status">
     <br>
     <label for="gender">Male</label>
     <input type="radio" name="gender"> Female<input type="radio" name="gender" id="gender">
     <br>
        <label for="my_text">Write Here</label>
      <br><textarea name="my_text" rows="5" cols="50" id="my_text"></textarea>
        <br>
      <input type="reset" value="reset_now"></p>
    <input type="submit" value="submit_now">
    <br><br>
    <div>
    <label for="car">Car</label>
    <select name="my_car" id="car">
        <option value="indica">Indica</option>
        <option value="maruti">Maruti</option>
        <option value="zen">Zen</option>
    </select>
</div>
</form>
</body>
</html>
 