{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'note_07.css' %}">
</head>
<body>
    

<h4>Display property</h4>

<div class="mainbox">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

</div>
<h3>Shadows and Outlines</h3>

 <div class="shadowbox">SHREEKRISHNA</div>
 <br><br>
 <div class="shadowtext">SHREEKRISHNA</div>
<br><br>
<h3>List Styling</h3>
<nav>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</nav>

 <h3>Overflow</h3>
    <div class="overflow_div">
 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore id sit, nihil quos ratione quae, quod neque, temporibus deserunt tempora saepe! Aspernatur quas, in quos molestiae ratione cum eos alias impedit rem eaque magni atque. Ex porro magnam laborum autem quis ea officia, quam vero?

    </div>


    <h3>Position Property</h3>
    
</body>
</html>